# Shear Transformation and Mohr Circle

## Exercise 1

Two steel plates of uniform cross section 10 × 80 mm are welded together as shown. Knowing that centric 100-kN forces are applied to the welded plates and that β is your last code number times 5, determine (a) the in-plane shearing stress parallel to the weld, (b) the normal stress perpendicular to the weld. If your code is 0, please consider 25°, as an example if your code finishes in 8, your β will be 40°. 

![ima2](ex1.png)

In [28]:
import numpy as np
import pandas as pd

classlist = pd.read_excel('classlist2021I.xlsx')
classlist = classlist.drop('Nivel', axis=1)

ex_numbers = classlist.copy()
ex_numbers['B'] = ex_numbers['ID'].apply(lambda x: x % 10 * 5)
ex_numbers['B'] = ex_numbers['B'].replace(0,25)
ex_numbers['TauMax'] = 62.5 * np.sin(np.deg2rad(2*ex_numbers['B']))
ex_numbers['SigmaRes'] = 62.5 + 62.5* np.cos(np.deg2rad(2*ex_numbers['B']))
ex_numbers

,ID,Nombre,B,TauMax,SigmaRes
0,30000048165,"ACERO ROJAS,DANIEL FELIPE",25,47.877778,102.674226
1,30000022560,"ACOSTA SICHACA,PAULA DANIELA",25,47.877778,102.674226
2,30000050321,"AREVALO DUEÑAS,TATIANA DANIELA",5,10.853011,124.050485
3,30000045911,"BUITRAGO PACHON,ANDRES FABIAN",5,10.853011,124.050485
4,30000050269,"CASAS GONZÁLEZ,CRISTIAN ESTEVEN",45,62.500000,62.500000
5,30000050883,"ESTÉVEZ MONCADA,JOHAN SEBASTIÁN",15,31.250000,116.626588
6,20141614093,"FANDIÑO ACOSTA,NICOLÁS ALBERTO",15,31.250000,116.626588
7,30000048970,"GARCIA RODRIGUEZ,ANDRES FELIPE",25,47.877778,102.674226
8,30000050168,"GARCÍA MARTINEZ,EDUARD CAMILO",40,61.550485,73.353011
9,30000050740,"GÓMEZ CORTÉS,JUAN PABLO",25,47.877778,102.674226
10,30000048121,"PARRA MADRIGAL,JUAN GILBERTO",5,10.853011,124.050485
11,30000047725,"PEREZ CORTES,ANDRES FELIPE",25,47.877778,102.674226
12,30000048147,"PONTON VELA,NILSON DAVID",35,58.730789,83.876259
13,30000030089,"PORTUGUEZ TORRES,EDUARD ALEXIS",45,62.500000,62.500000
14,30000058190,"QUIROGA LANDAZABAL,EMMANUEL",25,47.877778,102.674226
15,30000049546,"RODRIGUEZ ORDUZ,JUAN SEBASTIAN",30,54.126588,93.750000
16,30000024873,"ROJAS COLMENARES,ANGEL ESTEBAN",15,31.250000,116.626588
17,30000051687,"TICORA GONZALEZ,JONATHAN FELIPE",35,58.730789,83.876259
18,30000047652,"VILLAMIL TORRES,JORGE ELIECER ALFREDO",10,21.376259,121.230789
19,30000057249,"VILLEGAS BARRANCO,KAREN SOFIA",45,62.500000,62.500000

For the same Figure consider that the in-plane shearing stress parallel to the weld is 30 Mpa and β is not given, determine (a) the angle β, (b) the corresponding normal stress perpendicular to the weld. 

**Answers** 
$$\beta = 14.34°$$
$$\sigma_{x'} = 117.33 \text{MPa}$$

## Exercise 2

By means of the Mohr circle, determine two values of σy for which the maximum shearing stress is 90 MPa. Consider $\tau_{xy}= last \times 8$ and $\sigma_{x}= last^2 \times 5$  where last is your last code number, see the units in the figure. Consider 50 Mpa for both stresses if your code finishes in 0. 

![ima2](Ex2.png)

In [30]:
ex2_numbers = classlist.copy()
ex2_numbers['tau'] = ex2_numbers['ID'].apply(lambda x: x % 10 * 8)
ex2_numbers['tau'] = ex2_numbers['tau'].replace(0,50)
ex2_numbers['sigma'] = ex2_numbers['ID'].apply(lambda x: ((x % 10) **2) *5)
ex2_numbers['sigma'] = ex2_numbers['sigma'].replace(0,50)
sigmay1 = lambda x,txy,tau: x-2*np.sqrt(tau**2-txy**2) 
sigmay2 = lambda x,txy,tau: x+2*np.sqrt(tau**2-txy**2) 
ex2_numbers['sigmay1'] = sigmay1(-ex2_numbers['sigma'], ex2_numbers['tau'], 90)
ex2_numbers['sigmay2'] = sigmay2(-ex2_numbers['sigma'], ex2_numbers['tau'], 90)
ex2_numbers

,ID,Nombre,tau,sigma,sigmay1,sigmay2
0,30000048165,"ACERO ROJAS,DANIEL FELIPE",40,125,-286.245155,36.245155
1,30000022560,"ACOSTA SICHACA,PAULA DANIELA",50,50,-199.666295,99.666295
2,30000050321,"AREVALO DUEÑAS,TATIANA DANIELA",8,5,-184.287479,174.287479
3,30000045911,"BUITRAGO PACHON,ANDRES FABIAN",8,5,-184.287479,174.287479
4,30000050269,"CASAS GONZÁLEZ,CRISTIAN ESTEVEN",72,405,-513.000000,-297.000000
5,30000050883,"ESTÉVEZ MONCADA,JOHAN SEBASTIÁN",24,45,-218.481988,128.481988
6,20141614093,"FANDIÑO ACOSTA,NICOLÁS ALBERTO",24,45,-218.481988,128.481988
7,30000048970,"GARCIA RODRIGUEZ,ANDRES FELIPE",50,50,-199.666295,99.666295
8,30000050168,"GARCÍA MARTINEZ,EDUARD CAMILO",64,320,-446.554336,-193.445664
9,30000050740,"GÓMEZ CORTÉS,JUAN PABLO",50,50,-199.666295,99.666295
10,30000048121,"PARRA MADRIGAL,JUAN GILBERTO",8,5,-184.287479,174.287479
11,30000047725,"PEREZ CORTES,ANDRES FELIPE",40,125,-286.245155,36.245155
12,30000048147,"PONTON VELA,NILSON DAVID",56,245,-385.911320,-104.088680
13,30000030089,"PORTUGUEZ TORRES,EDUARD ALEXIS",72,405,-513.000000,-297.000000
14,30000058190,"QUIROGA LANDAZABAL,EMMANUEL",50,50,-199.666295,99.666295
15,30000049546,"RODRIGUEZ ORDUZ,JUAN SEBASTIAN",48,180,-332.262930,-27.737070
16,30000024873,"ROJAS COLMENARES,ANGEL ESTEBAN",24,45,-218.481988,128.481988
17,30000051687,"TICORA GONZALEZ,JONATHAN FELIPE",56,245,-385.911320,-104.088680
18,30000047652,"VILLAMIL TORRES,JORGE ELIECER ALFREDO",16,20,-197.132719,157.132719
19,30000057249,"VILLEGAS BARRANCO,KAREN SOFIA",72,405,-513.000000,-297.000000

## Exercise 3

The compressed air tank AB has a 250-mm outside diameter and an 8-mm wall thickness. It is fitted with a collar by which a 40-kN force P is applied at B in the horizontal direction. Knowing that the gage pressure inside the tank is 5 MPa, determine the maximum normal stress and the maximum shearing stress at point K. Consider X as your last code number and Y as your last last code number. Example, for code 65 X=600mm and Y=500 mm. If any of numbers are 0 please consider 400 mm. 

![image3](Ex3.png)

This exercise does not require the parameterization as I asked for the K point instead of L. It was my mistake. It will not be graded.